/*************HEADER**************/
header {
  background-color: #222;
  padding: 2%;
  text-align: center;
}

@media (min-width: 768px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 2%;
    padding-bottom: 0px;
    padding-right: 0px;
    height: auto;
  }
}

header h1 {
  font-family: "Grand Hotel", serif;
  color: #ff0;
  margin: 0;
}

@media (min-width: 768px) {
  header h1 {
    text-align: left;
  }
}

header p {
  color: #fff;
  margin: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

header form {
  margin: 5%;
}

#search {
  display: block;
  margin: 0 auto;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  text-align: center;
}

/********************************** GESTION DU ASIDE ******************************/
@media (min-width: 1024px) {
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.5em;
  }
}

@media (min-width: 1024px) {
  .content:last-child {
    width: 60%;
  }
}

.content aside {
  background-color: #222;
}

@media (min-width: 1024px) {
  .content aside {
    font-size: 0.7em;
    position: relative;
    padding: 2%;
    width: 50em;
  }
}

.content aside ul {
  margin: 0;
}

.content aside ul li {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 5%;
  border-bottom: 3px solid #ff0;
  padding-top: 2%;
}

@media (min-width: 1024px) {
  .content aside ul li {
    margin: 0;
    text-align: left;
    width: 100%;
    padding-top: 4%;
    padding-bottom: 8%;
  }
}

.content aside ul li:last-child {
  border-bottom: none;
}

.content aside ul li a {
  text-decoration: none;
  font-weight: 400;
  color: #eee;
  padding-bottom: 5%;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.content .copyright {
  visibility: hidden;
  font-family: "Grand Hotel", serif;
  color: #ff0;
  margin: 0;
}

@media (min-width: 1024px) {
  .content .copyright {
    visibility: visible;
    position: absolute;
    bottom: 0;
  }
}

/**************************** CREATION MIXIN ***************************/
/**************************************** GESTION DES SECTIONS ***************************************/
section {
  background-color: #eee;
  color: #222;
  padding-left: 2%;
  padding-right: 2%;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  text-align: justify;
  padding-bottom: 10%;
  padding-top: 5%;
}

section:first-child {
  background-image: url(../images/bg-presentation.jpg);
  background-size: cover;
  color: #fff;
}

section:last-child {
  background-image: url(../images/bg-contact.jpg);
  background-size: cover;
  color: #fff;
  padding-bottom: 2%;
}

h1 {
  margin: 0;
  padding-top: 3%;
  font-family: "Grand Hotel", serif;
  text-align: center;
}

blockquote {
  margin: 0;
  padding-bottom: 5%;
  text-align: right;
}

@media (min-width: 768px) {
  blockquote {
    padding-top: 5%;
  }
}

blockquote .quote {
  text-transform: uppercase;
}

@media (min-width: 768px) {
  blockquote .quote {
    font-size: 24px;
    font-style: italic;
  }
}

blockquote .mag {
  font-family: "Grand Hotel", serif;
  font-size: 12px;
}

@media (min-width: 1024px) {
  .limonade h1 {
    width: 60%;
  }
}

@media (min-width: 1024px) {
  .limonade p {
    width: 60%;
  }
}

@media (min-width: 1024px) {
  .limonade blockquote {
    width: 60%;
  }
}

@media (min-width: 768px) {
  .produits .cards, .client .cards, .production .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.produits figure, .client figure, .production figure {
  background-color: #fff;
  padding: 1%;
  margin-left: 2%;
  margin-right: 2%;
}

.produits figure img, .client figure img, .production figure img {
  width: 100%;
}

.produits figure figcaption, .client figure figcaption, .production figure figcaption {
  padding-left: 5%;
  padding-right: 2%;
}

.produits figure figcaption h2, .client figure figcaption h2, .production figure figcaption h2 {
  font-family: "Grand Hotel", serif;
}

.produits .more, .client .more, .production .more {
  color: #fff;
  background-color: #222;
  text-decoration: none;
  font-family: "Grand Hotel", serif;
  display: inline-block;
  width: 90%;
  margin-left: 5%;
  font-size: 24px;
  text-align: center;
  float: right;
}

@media (min-width: 768px) {
  .produits .more, .client .more, .production .more {
    width: 30%;
    padding: 2%;
  }
}

.production {
  background-image: url(../images/bg-production.jpg);
  background-size: cover;
  color: #fff;
}

.production figure {
  background-color: transparent;
}

.production .more {
  color: #222;
  background-color: #ff0;
  text-decoration: none;
  font-family: "Grand Hotel", serif;
  display: inline-block;
  width: 90%;
  margin-left: 5%;
  font-size: 24px;
  text-align: center;
  float: right;
}

@media (min-width: 768px) {
  .production .more {
    width: 30%;
    padding: 2%;
  }
}

@media (min-width: 768px) {
  .contact h1 {
    text-align: left;
  }
}

.contact form {
  opacity: 0.9;
}

@media (min-width: 768px) {
  .contact form {
    clear: both;
    width: 60%;
  }
}

.contact p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact input[type=submit] {
  color: #222;
  background-color: #ff0;
  text-decoration: none;
  font-family: "Grand Hotel", serif;
  display: inline-block;
  width: 90%;
  margin-left: 5%;
  font-size: 24px;
  text-align: center;
  float: right;
  text-align: center;
  border: none;
}

@media (min-width: 768px) {
  .contact input[type=submit] {
    width: 30%;
    padding: 2%;
  }
}

@media (min-width: 768px) {
  .contact input[type=submit] {
    margin-left: 120%;
  }
}
