//@import 'partial/variables';
//variables couleurs

$yellow: #ff0;

$lightYellow: #ff4;

$darkGrey: #222;

$lightGrey: #444;

$silver: #eee;

$light:#fff;



//variables font

$grandHotel: "Grand Hotel", serif;

$openSans: "Open Sans", Helvetica, Arial, sans-serif;


//variables breakpoint

$breakpoint_tablet : 768px;
$breakpoint_laptop : 1024px;

/*************HEADER**************/

header {

    background-color: $darkGrey;

    padding:2%;

    text-align: center;

    @media (min-width : $breakpoint_tablet){
                
       display: flex;

       justify-content: space-between;

       padding-left: 2%;
       padding-bottom: 0px;
       padding-right: 0px;
       height: auto;
    

     }

    h1 {

        font-family: $grandHotel;

        color: $yellow;

        margin: 0;

        @media (min-width : $breakpoint_tablet){
                
            text-align: left;

        

          }
     
    }

    p{

        color: $light;
        margin: 0;
        font-family: $openSans;
    }

    form{
        margin: 5%;
    }

}



#search{

    display: block;

    margin: 0 auto;

}



nav{

    ul{

        list-style-type: none;

        padding:0;

        li{

            text-align: center;

        }

    }

}

/********************************** GESTION DU ASIDE ******************************/

.content {

    @media (min-width:$breakpoint_laptop){

        display: flex;

        font-size: 1.5em;
    }


    &:last-child{

        @media (min-width:$breakpoint_laptop){

            width: 60%;

             }
     }
    
  
    aside{
       
        background-color: $darkGrey;

        @media (min-width:$breakpoint_laptop){
 
            font-size: 0.7em;
 
            position: relative;

            padding: 2%;

            width: 50em;
            
             }
       

   ul{
    margin: 0;
   
       

        li{
                
                width: 50%;

                margin: 0 auto;

                padding-bottom: 5%;

                border-bottom: 3px solid $yellow;

                padding-top: 2%; 


                @media (min-width:$breakpoint_laptop){

                margin: 0;
                text-align: left;
                width: 100%;
                padding-top: 4%; 
                padding-bottom: 8%;
                    }


                &:last-child{

            border-bottom : none;
        }
               a{
                    
                    text-decoration: none; 

                   font-weight: 400;

                   color: $silver;

                   padding-bottom: 5%;

                   font-family: $openSans;
                  
               }
          }
    } 
 
    }

   .copyright{


        visibility: hidden;

        font-family: $grandHotel;

        color: $yellow;

        margin: 0;   
        
        @media (min-width:$breakpoint_laptop){

        visibility: visible;

        position: absolute;

        bottom: 0;
       

        }
    }
   
}
/**************************** CREATION MIXIN ***************************/

@mixin boutton ($color, $bckcolor){

    color: $color;

    background-color: $bckcolor;

    text-decoration: none;

    font-family: $grandHotel;

    display: inline-block;

    width: 90%;

    margin-left: 5%;

    font-size: 24px;

    text-align: center;

    float: right;


    @media (min-width:$breakpoint_tablet){
        width: 30%;
        padding: 2%;
       
    }

}
/**************************************** GESTION DES SECTIONS ***************************************/
      section{

           background-color: $silver;

           color: $darkGrey;

           padding-left: 2%;

           padding-right: 2%;

           font-family: $openSans;

           text-align: justify;

           padding-bottom: 10%;

           padding-top: 5%;


           &:first-child{

               background-image: url(../images/bg-presentation.jpg);

               background-size: cover;

               color: $light;


           }
           &:last-child{

            background-image: url(../images/bg-contact.jpg);

            background-size: cover;  

            color: $light;

            padding-bottom: 2%;

           }   
        } 


        h1{
            margin: 0;

            padding-top: 3%;

            font-family: $grandHotel;

            text-align: center;
        }


        blockquote{

            margin: 0;

            padding-bottom: 5%; 

            text-align: right;


            @media (min-width : $breakpoint_tablet){

               padding-top: 5%;

            }
            
            .quote{

               text-transform: uppercase;

               @media (min-width : $breakpoint_tablet){

                font-size: 24px;

                font-style: italic;

            }
          

            }
            .mag{

                font-family: $grandHotel;

                font-size: 12px;

               
            }
        }


        .limonade{

            h1{
                @media (min-width : $breakpoint_laptop){

                    width: 60%;
     
                 }
            }

            p{
                @media (min-width : $breakpoint_laptop){

                    width: 60%;
     
                 }
            }

            blockquote{

                @media (min-width : $breakpoint_laptop){

                    width: 60%;
     
                 }
            }
        }


   
        .produits {

            .cards{

                @media (min-width : $breakpoint_tablet){

                    display: flex;

                }
            }

        figure{

            background-color: $light;

            padding: 1%;

            margin-left: 2%;
            
            margin-right: 2%;

            img{

                width: 100%;
            }

            figcaption{

                padding-left: 5%;

                padding-right: 2%;

                h2{

                    font-family: $grandHotel;
                }
            }
        }

        .more{

            @include boutton($light,$darkGrey)
        }
        
        }

        .client{

            @extend .produits;
        }


        .production{

            @extend .produits;

            background-image: url(../images/bg-production.jpg);

            background-size: cover;

            color: $light;

            figure{

                background-color: transparent;
            }

            .more{

                @include boutton($darkGrey,$yellow)
            }
            

            

        }

        .contact{

            @media (min-width : $breakpoint_tablet){
                
               h1{ text-align: left;}
              }
            form{
                opacity: 0.9;

            @media (min-width : $breakpoint_tablet){
                clear: both;
                width: 60%;
              }
         
            }

            p{

               display: flex;

               flex-direction: column;
               
            }
            input[type=submit]{

                @include boutton($darkGrey,$yellow);

                text-align: center;

                border: none;

                @media (min-width : $breakpoint_tablet){
                    
                     margin-left: 120%;
                   }

            }
        }
