//variables couleurs

$yellow: #ff0;

$lightYellow: #ff4;

$darkGrey: #222;

$lightGrey: #444;

$silver: #eee;

$light:#fff;



//variables font

$grandHotel: "Grand Hotel", serif;

$openSans: "Open Sans", Helvetica, Arial, sans-serif;

